In [1]:
import pandas as pd

In [7]:
GCEA2019 = pd.read_csv('input_data/GCEA 2019.csv', index_col='NEWID')
GCEA2019

          MA2  FM2  MA1 MA3-MOE
NEWID
20180001    A  NaN  NaN     NaN
20180002    A  NaN  NaN     NaN
20180003    A  NaN  NaN     NaN
20180004  NaN  NaN  NaN     NaN
20180005    A  NaN  NaN     NaN
...       ...  ...  ...     ...
20181150    A  NaN  NaN     NaN
20181151    A  NaN  NaN     NaN
20181152    B  NaN  NaN     NaN
20181153    D  NaN  NaN     NaN
20181154    C  NaN  NaN     NaN

[1154 rows x 4 columns]

In [ ]:
GCEA2020 = pd.read_csv('input_data/GCEA 2020.csv', index_col='NEWID')
GCEA2020

In [ ]:
GCEA2019.value_counts('MA2')

In [ ]:
GCEA2019.value_counts('MA2',normalize=True)

In [ ]:
GCEA2019.isna().sum()

In [ ]:
GCEA2020.value_counts('MA2')

In [ ]:
GCEA2020.value_counts('MA2', normalize=True)

In [ ]:
Prelim2020 = pd.read_csv('input_data/2020 Prelim.csv', index_col='NEWID')
Prelim2020

In [8]:
Prelim2019 = pd.read_csv('input_data/2019 Prelim.csv', index_col='NEWID')
Prelim2019

,GENDER,PSLE,REPEAT,INTAKE,SEC SCHOOL,PW,GP,KI,KI (H),MA2,...,AP3-MOE,PW.1,MTL,P/F,RANK,%,MSG/GPA,PTS,NO OF CCA,CCA
NEWID,,,,,,,,,,,,,,,,,,,,,
20180001,M,260,NaN,IP (HCI),HWA CHONG INSTITUTION (HIGH SCHOOL),A,B,NaN,NaN,A,...,NaN,A,A,Passed,192,83,1.4,85.00,1,SQUASH (Member)
20180002,F,253,NaN,JAE Ordinary Admission,METHODIST GIRLS' SCHOOL (SECONDARY),A,C,NaN,NaN,A,...,NaN,A,B,Passed,420,63,2.1,80.00,1,SYMPHONIC BAND (Member)
20180003,F,262,NaN,IP (NYGH),NANYANG GIRLS' HIGH SCHOOL,A,C,NaN,NaN,B,...,NaN,A,B,Passed,987,14,4.1,57.50,1,BADMINTON (Welfare I/C)
20180004,F,242,NaN,JAE Ordinary Admission,TANJONG KATONG GIRLS' SCHOOL,A,NaN,NaN,B,NaN,...,NaN,A,A,Passed,836,27,3.0,67.50,1,HWA CHONG PUBLICATIONS SOCIETY (HCPS) (Member)
20180005,M,237,NaN,JAE Ordinary Admission,MARIS STELLA HIGH SCHOOL,B,D,NaN,NaN,C,...,NaN,B,B,Passed,887,23,3.3,65.00,1,LIBRARY (Member)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20181150,M,263,NaN,IP (HCI),HWA CHONG INSTITUTION (HIGH SCHOOL),A,C,NaN,NaN,A,...,NaN,A,A,Passed,144,87,1.2,86.25,1,BADMINTON (Member)
20181151,M,248,NaN,IP (HCI),HWA CHONG INSTITUTION (HIGH SCHOOL),B,D,NaN,NaN,D,...,NaN,B,B,Passed,987,14,3.9,57.50,1,LIBRARY (Member)
20181152,F,246,NaN,JAE Ordinary Admission,CRESCENT GIRLS' SCHOOL,A,C,NaN,NaN,C,...,NaN,A,A,Passed,594,48,2.3,76.25,1,RED CROSS YOUTH (Cadet Officer)
20181153,F,259,NaN,IP (NYGH),NANYANG GIRLS' HIGH SCHOOL,A,C,NaN,NaN,U,...,NaN,A,B,Passed,1085,6,4.6,46.25,1,TOUCH RUGBY (Member)
20181154,M,0,NaN,JAE Ordinary Admission,HILLGROVE SECONDARY SCHOOL,B,E,NaN,NaN,S,...,NaN,B,A,Passed,1085,6,4.7,46.25,1,ASTRONOMY CLUB (Member)

In [ ]:
Prelim2021 = pd.read_csv('input_data/2021 Prelim.csv', index_col='NEWID')
Prelim2021

In [13]:
test2019 = Prelim2019[['MA2','PTS']].join(GCEA2019[['MA2']], rsuffix='GCEA')

In [9]:
Prelim2019.merge(GCEA2019, on='NEWID')

,GENDER,PSLE,REPEAT,INTAKE,SEC SCHOOL,PW,GP,KI,KI (H),MA2_x,...,RANK,%,MSG/GPA,PTS,NO OF CCA,CCA,MA2_y,FM2_y,MA1_y,MA3-MOE_y
NEWID,,,,,,,,,,,,,,,,,,,,,
20180001,M,260,NaN,IP (HCI),HWA CHONG INSTITUTION (HIGH SCHOOL),A,B,NaN,NaN,A,...,192,83,1.4,85.00,1,SQUASH (Member),A,NaN,NaN,NaN
20180002,F,253,NaN,JAE Ordinary Admission,METHODIST GIRLS' SCHOOL (SECONDARY),A,C,NaN,NaN,A,...,420,63,2.1,80.00,1,SYMPHONIC BAND (Member),A,NaN,NaN,NaN
20180003,F,262,NaN,IP (NYGH),NANYANG GIRLS' HIGH SCHOOL,A,C,NaN,NaN,B,...,987,14,4.1,57.50,1,BADMINTON (Welfare I/C),A,NaN,NaN,NaN
20180004,F,242,NaN,JAE Ordinary Admission,TANJONG KATONG GIRLS' SCHOOL,A,NaN,NaN,B,NaN,...,836,27,3.0,67.50,1,HWA CHONG PUBLICATIONS SOCIETY (HCPS) (Member),NaN,NaN,NaN,NaN
20180005,M,237,NaN,JAE Ordinary Admission,MARIS STELLA HIGH SCHOOL,B,D,NaN,NaN,C,...,887,23,3.3,65.00,1,LIBRARY (Member),A,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20181150,M,263,NaN,IP (HCI),HWA CHONG INSTITUTION (HIGH SCHOOL),A,C,NaN,NaN,A,...,144,87,1.2,86.25,1,BADMINTON (Member),A,NaN,NaN,NaN
20181151,M,248,NaN,IP (HCI),HWA CHONG INSTITUTION (HIGH SCHOOL),B,D,NaN,NaN,D,...,987,14,3.9,57.50,1,LIBRARY (Member),A,NaN,NaN,NaN
20181152,F,246,NaN,JAE Ordinary Admission,CRESCENT GIRLS' SCHOOL,A,C,NaN,NaN,C,...,594,48,2.3,76.25,1,RED CROSS YOUTH (Cadet Officer),B,NaN,NaN,NaN
20181153,F,259,NaN,IP (NYGH),NANYANG GIRLS' HIGH SCHOOL,A,C,NaN,NaN,U,...,1085,6,4.6,46.25,1,TOUCH RUGBY (Member),D,NaN,NaN,NaN
20181154,M,0,NaN,JAE Ordinary Admission,HILLGROVE SECONDARY SCHOOL,B,E,NaN,NaN,S,...,1085,6,4.7,46.25,1,ASTRONOMY CLUB (Member),C,NaN,NaN,NaN

In [13]:
GCEA2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1154 entries, 0 to 1153
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   NEWID    1154 non-null   int64
 1   MA2      1097 non-null   object
 2   FM2      12 non-null     object
 3   MA1      41 non-null     object
 4   MA3-MOE  33 non-null     object
dtypes: int64(1), object(4)
memory usage: 45.2+ KB

In [14]:
Prelim2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1154 entries, 0 to 1153
Data columns (total 57 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   NEWID       1154 non-null   int64
 1   GENDER      1154 non-null   object
 2   PSLE        1154 non-null   int64
 3   REPEAT      4 non-null      object
 4   INTAKE      1154 non-null   object
 5   SEC SCHOOL  1154 non-null   object
 6   PW          1154 non-null   object
 7   GP          1096 non-null   object
 8   KI          30 non-null     object
 9   KI (H)      28 non-null     object
 10  MA2         1097 non-null   object
 11  FM2         12 non-null     object
 12  CP2         53 non-null     object
 13  PH2         498 non-null    object
 14  CH2         902 non-null    object
 15  BY2         444 non-null    object
 16  EL2         89 non-null     object
 17  EL2 (H)     57 non-null     object
 18  ELL2        15 non-null     object
 19  EC2         794 non-null    object
 20  EC2 (H)     47 non-null     object
 21  EH2         72 non-null     object
 22  EH2 (H)     29 non-null     object
 23  EG2         67 non-null     object
 24  EG2 (H)     14 non-null     object
 25  AP2         16 non-null     object
 26  MP2         4 non-null      object
 27  CLL2        35 non-null     object
 28  CSC2        78 non-null     object
 29  TRC2        10 non-null     object
 30  FR2         2 non-null      object
 31  GM2         7 non-null      object
 32  JP2         3 non-null      object
 33  SP2         2 non-null      object
 34  MA1         41 non-null     object
 35  PH1         3 non-null      object
 36  CH1         24 non-null     object
 37  BY1         2 non-null      object
 38  EL1         14 non-null     object
 39  EC1         120 non-null    object
 40  EH1         1 non-null      object
 41  EG1         2 non-null      object
 42  MA3-MOE     34 non-null     object
 43  PH3-MOE     14 non-null     object
 44  CH3-MOE     58 non-null     object
 45  BY3-MOE     22 non-null     object
 46  EC3-MOE     23 non-null     object
 47  AP3-MOE     16 non-null     object
 48  PW.1        1154 non-null   object
 49  MTL         1150 non-null   object
 50  P/F         1154 non-null   object
 51  RANK        1154 non-null   int64
 52  %           1154 non-null   int64
 53  MSG/GPA     1154 non-null   float64
 54  PTS         1154 non-null   float64
 55  NO OF CCA   1154 non-null   int64
 56  CCA         1133 non-null   object
dtypes: float64(2), int64(5), object(50)
memory usage: 514.0+ KB